Apps/Service References/LotusSalesService/ThirdPartyServices5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://testbus.lotusodonto.com/ThirdPartyServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ViewModels" />
  <xs:import schemaLocation="http://testbus.lotusodonto.com/ThirdPartyServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ViewModels.Request" />
  <xs:import schemaLocation="http://testbus.lotusodonto.com/ThirdPartyServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ViewModels.Response" />
  <xs:element name="SaleProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="request" nillable="true" type="q1:SaleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaleProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="SaleProcessResult" nillable="true" type="q2:SaleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaleProcessBeneficiaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ViewModels.Request" minOccurs="0" name="request" nillable="true" type="q3:SaleRequestBeneficiaries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaleProcessBeneficiariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="SaleProcessBeneficiariesResult" nillable="true" type="q4:SaleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaleProcessCardPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ViewModels.Request" minOccurs="0" name="request" nillable="true" type="q5:SaleRequestBeneficiaries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaleProcessCardPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ViewModels" minOccurs="0" name="SaleProcessCardPaymentResult" nillable="true" type="q6:SaleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ViewModels.Request" minOccurs="0" name="request" nillable="true" type="q7:CountryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ViewModels.Response" minOccurs="0" name="GetCountriesResult" nillable="true" type="q8:CountryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ViewModels.Request" minOccurs="0" name="request" nillable="true" type="q9:PlansRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ViewModels.Response" minOccurs="0" name="GetPlansResult" nillable="true" type="q10:PlansResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlansRequestByCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ViewModels.Request" minOccurs="0" name="request" nillable="true" type="q11:PlanByCountryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlansRequestByCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ViewModels.Response" minOccurs="0" name="PlansRequestByCountryResult" nillable="true" type="q12:PlansResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Encrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Decrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ViewModels.Request" minOccurs="0" name="request" nillable="true" type="q13:UserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ViewModels.Response" minOccurs="0" name="CheckCustomerResult" nillable="true" type="q14:UserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ViewModels.Request" minOccurs="0" name="request" nillable="true" type="q15:CheckSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ViewModels.Response" minOccurs="0" name="CheckSaleResult" nillable="true" type="q16:SaleMade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilteredSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ViewModels.Request" minOccurs="0" name="request" nillable="true" type="q17:SitesPerFilterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilteredSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ViewModels.Response" minOccurs="0" name="FilteredSitesResult" nillable="true" type="q18:BranchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>