Apps/Service References/LotusSalesService/ThirdPartyServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://testbus.lotusodonto.com/ThirdPartyServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ViewModels.General" />
  <xs:complexType name="SaleRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerCellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ViewModels.General" minOccurs="0" name="CardData" nillable="true" type="q1:ClientCard" />
      <xs:element minOccurs="0" name="Cellphone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanySaleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Complement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Credentials" nillable="true" type="tns:AuthorizeModel" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotherName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Neighborhood" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType" type="xs:int" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleRequest" nillable="true" type="tns:SaleRequest" />
  <xs:complexType name="AuthorizeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsEncrypted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizeModel" nillable="true" type="tns:AuthorizeModel" />
  <xs:complexType name="SaleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annotations" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:GenericError" />
      <xs:element minOccurs="0" name="ProcessSucess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleResponse" nillable="true" type="tns:SaleResponse" />
  <xs:complexType name="GenericError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericError" nillable="true" type="tns:GenericError" />
</xs:schema>